@font-face{
    font-family: JosefinSans-Thin;
    src:url(../font/JosefinSans-Thin.ttf);
}

@font-face{
    font-family: JosefinSans-Light;
    src:url(../font/JosefinSans-Light.ttf);
}
@font-face{
    font-family: JosefinSans-ExtraLight;
    src:url(../font/JosefinSans-ExtraLight.ttf);
}

@font-face{
    font-family: JosefinSans-Medium;
    src:url(../font/JosefinSans-Medium.ttf);
}

@font-face{
    font-family: Alata-Regular;
    src:url(../font/Alata-Regular.ttf);
}