$color_white:hsl(0, 0%, 100%);
$color_black:hsl(0, 0%, 0%);
$color-verydarkgray:hsl(0,0%,41%);
$color-gray:hsl(0,0%,55%);


$image-hero-mobile: url("../../images/mobile/image-hero.jpg");
$image-interactive-mobile: url("../../images/mobile/image-interactive.jpg");


$image-hero-desktop: url("../../images/desktop/image-hero.jpg");
$image-interactive-desktop: url("../../images/desktop/image-interactive.jpg");
